//
// Your custom SCSS should be written here...
// --------------------------------------------------

.navbar-header{
	.nav-brand{
		max-width: remCalc(175);
		transition: all .22s ease-out; 
		&:hover{
			opacity: .75; 
		}
	}
}

section{
	margin-bottom: remCalc(48);
}

// Footer
footer{
	&.fix{
		padding-bottom: remCalc(80);
		.band{
			position: fixed;
			bottom: 0;
			left: 0;
			margin-bottom: 0;
		}
	}
}

.footer-nav{
	ul{
		list-style: none;
		padding-left: 0;
		li{
			padding: remCalc(6) remCalc(14);
			a{
				display: inline-block;
			}
			&.active{
				a{
					color: map-get($brand-color, purple);
				}
			}
		}
	}
}

.copyright{
	background-color: map-get($brand-color, blue);
	color: $white;
	padding: remCalc(22) remCalc(15) remCalc(10);
	margin-top: remCalc(22);
}

.band{
	background-color: map-get($brand-color, purple);
	padding: remCalc(15) remCalc(30);
	width: 100%;
	margin-bottom: remCalc(15);  
}

// Modal
.modal-header{
	margin: remCalc(-16);
	margin-bottom: remCalc(32);
	padding: remCalc(16); 
	background-color: map-get($brand-color, blue);
	text-align: center;
	img{
		max-width: 80px;
		display: block;
		margin: 0 auto remCalc(16); 
	}
	p{
		color: $white;
		font-size: remCalc(24);
	}
}

.modal-content{
	max-width: remCalc(320);
	margin: 0 auto; 
	text-align: center; 
	.btn{
		display: block;
		margin-bottom: remCalc(16);
	}
}

.rescue{
	margin-top: remCalc(32);
}

ul{
	&.offer-list{
		color: map-get($brand-color, blue);
		text-transform: uppercase;
		font-family: $font-serif; 
	}
}

// Contact

.contact-form{
	background-color: darken(map-get($brand-color, blue), 20%);
	padding-top: remCalc(48);
	padding-bottom: remCalc(48);
	color: $white;
	margin-bottom: remCalc(22);
	p{
		margin-bottom: remCalc(32);
	}
}

#opportunity-career{
	.cover{
		margin-bottom: 0;
	}
}

// Medium
@media #{$breakpoint-medium} {

	footer{
		&.fix{
			padding-bottom: 0;
		}
	}

}

// Large
@media #{$breakpoint-large} {

}