RewriteEngine On

## REDIRECT FOLDER DIST ##
RewriteCond %{REQUEST_URI} !dist/
RewriteRule (.*) /dist/$1 [L]

## EXPIRES CACHING ##
ExpiresByType image/jpg "access 1 year"
ExpiresByType image/jpeg "access 1 year"
ExpiresByType image/gif "access 1 year"
ExpiresByType image/png "access 1 year"
ExpiresByType text/css "access 1 month"
ExpiresByType text/html "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType text/x-javascript "access 1 month"
ExpiresByType application/x-shockwave-flash "access 1 month"
ExpiresByType image/x-icon "access 1 year"
ExpiresDefault "access 1 month"

## HARDCORE ##
Redirect 301 /about-us/ https://sanimedicaltourism.com/about-us.html
Redirect 301 /contact-us/ https://sanimedicaltourism.com/contact.html

Redirect 301 /medical-procedures/bariatric-surgery/ https://sanimedicalreferrals.com/medical-procedures/bariatric-surgery/
Redirect 301 /medical-procedures/dental/ https://sanimedicalreferrals.com/medical-procedures/dental/
Redirect 301 /blog/ https://sanimedicalreferrals.com/blog/
Redirect 301 /medical-procedures/plastic-surgery/ https://sanimedicalreferrals.com/medical-procedures/plastic-surgery/
Redirect 301 /blog/things-to-do-in-baja-california/ https://sanimedicalreferrals.com/blog/things-to-do-in-baja-california/
Redirect 301 /privacy-policy/ https://sanimedicalreferrals.com/privacy-policy/
Redirect 301 /profile/i-love-my-dentist/ https://sanimedicalreferrals.com/profile/i-love-my-dentist/
Redirect 301 /profile/o-dent/ https://sanimedicalreferrals.com/profile/o-dent/
Redirect 301 /profile/medina-medical-specialties/ https://sanimedicalreferrals.com/profile/medina-medical-specialties/
Redirect 301 /blog/visiting-mexicali/ https://sanimedicalreferrals.com/blog/visiting-mexicali/
Redirect 301 /profile/monica-soto-aguilera/ https://sanimedicalreferrals.com/profile/monica-soto-aguilera/
Redirect 301 /profile/progencell-stem-cell-therapies/ https://sanimedicalreferrals.com/profile/progencell-stem-cell-therapies/
Redirect 301 /profile/dentalia-cancun/ https://sanimedicalreferrals.com/profile/dentalia-cancun/
Redirect 301 /profile/o-dent/doctors/ https://sanimedicalreferrals.com/profile/o-dent/doctors/
Redirect 301 /medical-procedures/ https://sanimedicalreferrals.com/medical-procedures/
Redirect 301 /profile/monica-soto-aguilera/gallery/ https://sanimedicalreferrals.com/profile/monica-soto-aguilera/gallery/
Redirect 301 /profile/dentalia-cancun/doctors/ https://sanimedicalreferrals.com/profile/dentalia-cancun/doctors/
Redirect 301 /profile/monica-soto-aguilera/reviews/ https://sanimedicalreferrals.com/profile/monica-soto-aguilera/reviews/
Redirect 301 /profile/monica-soto-aguilera/location/ https://sanimedicalreferrals.com/profile/monica-soto-aguilera/location/
Redirect 301 /destinations/tijuana/ https://sanimedicalreferrals.com/destinations/tijuana/
Redirect 301 /profile/dental-spana/ https://sanimedicalreferrals.com/profile/dental-spana/
Redirect 301 /profile/monica-soto-aguilera/reviews-list/ https://sanimedicalreferrals.com/profile/monica-soto-aguilera/reviews-list/
Redirect 301 /blog/tips-for-medical-tourism-patients-and-the-people-who-accompany-them/ https://sanimedicalreferrals.com/blog/tips-for-medical-tourism-patients-and-the-people-who-accompany-them/
Redirect 301 /profile/i-love-my-dentist/reviews/ https://sanimedicalreferrals.com/profile/i-love-my-dentist/reviews/
Redirect 301 /profile/o-dent/reviews/ https://sanimedicalreferrals.com/profile/o-dent/reviews/
Redirect 301 /profile/i-love-my-dentist/gallery/ https://sanimedicalreferrals.com/profile/i-love-my-dentist/gallery/
Redirect 301 /blog/how-to-prepare-for-medical-tourism https://sanimedicalreferrals.com/blog/how-to-prepare-for-medical-tourism
Redirect 301 /profile/dental-spana/prices/ https://sanimedicalreferrals.com/profile/dental-spana/prices/
Redirect 301 /profile/o-dent/reviews-list/ https://sanimedicalreferrals.com/profile/o-dent/reviews-list/
Redirect 301 /destinations/ https://sanimedicalreferrals.com/destinations/
Redirect 301 /blog/how-to-prepare-for-medical-tourism/ https://sanimedicalreferrals.com/blog/how-to-prepare-for-medical-tourism/
Redirect 301 /destinations/los-algodones/ https://sanimedicalreferrals.com/destinations/los-algodones/
Redirect 301 /profile/dentalia-paseo-chapultepec/ https://sanimedicalreferrals.com/profile/dentalia-paseo-chapultepec/
Redirect 301 /profile/o-dent/gallery/ https://sanimedicalreferrals.com/profile/o-dent/gallery/
Redirect 301 /profile/medina-medical-specialties/location/ https://sanimedicalreferrals.com/profile/medina-medical-specialties/location/
Redirect 301 /podcast/visit-baja/ https://sanimedicalreferrals.com/podcast/visit-baja/
Redirect 301 /faqs/ https://sanimedicalreferrals.com/faqs/
Redirect 301 /profile/dentalia-paseo-chapultepec/prices/ https://sanimedicalreferrals.com/profile/dentalia-paseo-chapultepec/prices/
Redirect 301 /profile/dentalia-cancun/contact-clinic/ https://sanimedicalreferrals.com/profile/dentalia-cancun/contact-clinic/
Redirect 301 /destinations/mexicali https://sanimedicalreferrals.com/destinations/mexicali
Redirect 301 /profile/progencell-stem-cell-therapies/reviews/ https://sanimedicalreferrals.com/profile/progencell-stem-cell-therapies/reviews/
Redirect 301 /profile/o-dent/write-review/ https://sanimedicalreferrals.com/profile/o-dent/write-review/
Redirect 301 /profile/dental-spana/doctors/ https://sanimedicalreferrals.com/profile/dental-spana/doctors/
Redirect 301 /profile/sani-dental-platinum/ https://sanimedicalreferrals.com/profile/sani-dental-platinum/
Redirect 301 /profile/sani-dental-platinum/location/ https://sanimedicalreferrals.com/profile/sani-dental-platinum/location/
Redirect 301 /profile/medina-medical-specialties/prices/ https://sanimedicalreferrals.com/profile/medina-medical-specialties/prices/
Redirect 301 /destinations/tijuana https://sanimedicalreferrals.com/destinations/tijuana
Redirect 301 /destinations/cancun https://sanimedicalreferrals.com/destinations/cancun
Redirect 301 /profile/medina-medical-specialties/doctors/ https://sanimedicalreferrals.com/profile/medina-medical-specialties/doctors/
Redirect 301 /profile/i-love-my-dentist/contact-clinic/ https://sanimedicalreferrals.com/profile/i-love-my-dentist/contact-clinic/
Redirect 301 /profile/i-love-my-dentist/reviews-list/ https://sanimedicalreferrals.com/profile/i-love-my-dentist/reviews-list/
Redirect 301 /profile/progencell-stem-cell-therapies/location/ https://sanimedicalreferrals.com/profile/progencell-stem-cell-therapies/location/
Redirect 301 /profile/hospital-hispano-americano/ https://sanimedicalreferrals.com/profile/hospital-hispano-americano/
Redirect 301 /profile/dentalia-cancun/gallery/ https://sanimedicalreferrals.com/profile/dentalia-cancun/gallery/
Redirect 301 /profile/i-love-my-dentist/write-review/ https://sanimedicalreferrals.com/profile/i-love-my-dentist/write-review/
Redirect 301 /profile/progencell-stem-cell-therapies/prices/ https://sanimedicalreferrals.com/profile/progencell-stem-cell-therapies/prices/
Redirect 301 /profile/hospital-hispano-americano/contact-clinic/ https://sanimedicalreferrals.com/profile/hospital-hispano-americano/contact-clinic/
Redirect 301 /profile/hospital-hispano-americano/reviews/ https://sanimedicalreferrals.com/profile/hospital-hispano-americano/reviews/
Redirect 301 /profile/hospital-hispano-americano/prices/ https://sanimedicalreferrals.com/profile/hospital-hispano-americano/prices/
Redirect 301 /profile/hospital-hispano-americano/single-review/19/ https://sanimedicalreferrals.com/profile/hospital-hispano-americano/single-review/19/
Redirect 301 /profile/dental-spana/location/ https://sanimedicalreferrals.com/profile/dental-spana/location/
Redirect 301 /profile/progencell-stem-cell-therapies/contact-clinic/ https://sanimedicalreferrals.com/profile/progencell-stem-cell-therapies/contact-clinic/
Redirect 301 /profile/monica-soto-aguilera/write-review/ https://sanimedicalreferrals.com/profile/monica-soto-aguilera/write-review/
Redirect 301 /profile/progencell-stem-cell-therapies/write-review/ https://sanimedicalreferrals.com/profile/progencell-stem-cell-therapies/write-review/
Redirect 301 /profile/clinica-de-hernias/ https://sanimedicalreferrals.com/profile/clinica-de-hernias/
Redirect 301 /profile/dentalia-cancun/location/ https://sanimedicalreferrals.com/profile/dentalia-cancun/location/
Redirect 301 /profile/clinica-de-hernias/contact-clinic/ https://sanimedicalreferrals.com/profile/clinica-de-hernias/contact-clinic/
Redirect 301 /profile/dentalia-cancun/prices/ https://sanimedicalreferrals.com/profile/dentalia-cancun/prices/
Redirect 301 /blog/where-to-stay-in-mexico-medical-tourism-hotels/ https://sanimedicalreferrals.com/blog/where-to-stay-in-mexico-medical-tourism-hotels/
Redirect 301 /destinations/mexicali/ https://sanimedicalreferrals.com/destinations/mexicali/
Redirect 301 /profile/dentalia-paseo-chapultepec/location/ https://sanimedicalreferrals.com/profile/dentalia-paseo-chapultepec/location/
Redirect 301 /profile/dentalia-paseo-chapultepec/reviews/ https://sanimedicalreferrals.com/profile/dentalia-paseo-chapultepec/reviews/
Redirect 301 /profile/o-dent/prices/ https://sanimedicalreferrals.com/profile/o-dent/prices/
Redirect 301 /profile/clinica-de-hernias/prices/ https://sanimedicalreferrals.com/profile/clinica-de-hernias/prices/
Redirect 301 /medical-procedures/orthopedic-surgery/ https://sanimedicalreferrals.com/medical-procedures/orthopedic-surgery/
Redirect 301 /profile/sani-dental-platinum/reviews/ https://sanimedicalreferrals.com/profile/sani-dental-platinum/reviews/
Redirect 301 /profile/dentalia-paseo-chapultepec/write-review/ https://sanimedicalreferrals.com/profile/dentalia-paseo-chapultepec/write-review/
Redirect 301 /profile/dentalia-paseo-chapultepec/reviews-list/ https://sanimedicalreferrals.com/profile/dentalia-paseo-chapultepec/reviews-list/
Redirect 301 /blog/the-secrets-out-los-algodones-top-destination-for-dental-tourism/ https://sanimedicalreferrals.com/blog/the-secrets-out-los-algodones-top-destination-for-dental-tourism/
Redirect 301 /profile/sani-dental-platinum/write-review/ https://sanimedicalreferrals.com/profile/sani-dental-platinum/write-review/
Redirect 301 /profile/sani-dental-platinum/reviews-list/ https://sanimedicalreferrals.com/profile/sani-dental-platinum/reviews-list/
Redirect 301 /profile/dentalia-cancun/reviews/ https://sanimedicalreferrals.com/profile/dentalia-cancun/reviews/
Redirect 301 /profile/hospital-hispano-americano/reviews-list/ https://sanimedicalreferrals.com/profile/hospital-hispano-americano/reviews-list/
Redirect 301 /results/?manual_selector=1&search=medical-and-cosmetic-surgery https://sanimedicalreferrals.com/results/?manual_selector=1&search=medical-and-cosmetic-surgery
Redirect 301 /blog/why-would-anyone-travel-for-a-medical-procedure/ https://sanimedicalreferrals.com/blog/why-would-anyone-travel-for-a-medical-procedure/
Redirect 301 /results/?manual_selector=1&search=hospital https://sanimedicalreferrals.com/results/?manual_selector=1&search=hospital
Redirect 301 /profile/dentalia-cancun/reviews-list/ https://sanimedicalreferrals.com/profile/dentalia-cancun/reviews-list/
Redirect 301 /profile/dentalia-cancun/write-review/ https://sanimedicalreferrals.com/profile/dentalia-cancun/write-review/
Redirect 301 /results/?manual_selector=1&search=dental https://sanimedicalreferrals.com/results/?manual_selector=1&search=dental
Redirect 301 /profile/progencell-stem-cell-therapies/gallery/ https://sanimedicalreferrals.com/profile/progencell-stem-cell-therapies/gallery/
Redirect 301 /profile/monica-soto-aguilera/contact-clinic/ https://sanimedicalreferrals.com/profile/monica-soto-aguilera/contact-clinic/
Redirect 301 /destinations/los-algodones https://sanimedicalreferrals.com/destinations/los-algodones
Redirect 301 /profile/medina-medical-specialties/gallery/ https://sanimedicalreferrals.com/profile/medina-medical-specialties/gallery/
Redirect 301 /profile/clinica-de-hernias/reviews/ https://sanimedicalreferrals.com/profile/clinica-de-hernias/reviews/
Redirect 301 /profile/sani-dental-platinum/doctors/ https://sanimedicalreferrals.com/profile/sani-dental-platinum/doctors/
Redirect 301 /profile/clinica-de-hernias/write-review/ https://sanimedicalreferrals.com/profile/clinica-de-hernias/write-review/
Redirect 301 /profile/clinica-de-hernias/reviews-list/ https://sanimedicalreferrals.com/profile/clinica-de-hernias/reviews-list/
Redirect 301 /profile/sani-dental-platinum/single-review/11/ https://sanimedicalreferrals.com/profile/sani-dental-platinum/single-review/11/
Redirect 301 /profile/hospital-hispano-americano/doctors/ https://sanimedicalreferrals.com/profile/hospital-hispano-americano/doctors/
Redirect 301 /profile/progencell-stem-cell-therapies/reviews-list/ https://sanimedicalreferrals.com/profile/progencell-stem-cell-therapies/reviews-list/
Redirect 301 /profile/progencell-stem-cell-therapies/single-review/20/ https://sanimedicalreferrals.com/profile/progencell-stem-cell-therapies/single-review/20/
Redirect 301 /profile/i-love-my-dentist/location/ https://sanimedicalreferrals.com/profile/i-love-my-dentist/location/
Redirect 301 /profile/sani-dental-group/ https://sanimedicalreferrals.com/profile/sani-dental-group/
Redirect 301 /profile/i-love-my-dentist/doctors/ https://sanimedicalreferrals.com/profile/i-love-my-dentist/doctors/
Redirect 301 /profile/i-love-my-dentist/prices/ https://sanimedicalreferrals.com/profile/i-love-my-dentist/prices/
Redirect 301 /profile/dental-spana/contact-clinic/ https://sanimedicalreferrals.com/profile/dental-spana/contact-clinic/
Redirect 301 /profile/sani-dental-platinum/gallery/ https://sanimedicalreferrals.com/profile/sani-dental-platinum/gallery/
Redirect 301 /profile/docs-diabetes-obesity-control-surgery/ https://sanimedicalreferrals.com/profile/docs-diabetes-obesity-control-surgery/
Redirect 301 /profile/sani-dental-group/reviews/ https://sanimedicalreferrals.com/profile/sani-dental-group/reviews/
Redirect 301 /profile/sani-dental-group/prices/ https://sanimedicalreferrals.com/profile/sani-dental-group/prices/
Redirect 301 /profile/sani-dental-group/contact-clinic/ https://sanimedicalreferrals.com/profile/sani-dental-group/contact-clinic/
Redirect 301 /profile/sani-dental-group/doctors/ https://sanimedicalreferrals.com/profile/sani-dental-group/doctors/
Redirect 301 /profile/sani-dental-group/gallery/ https://sanimedicalreferrals.com/profile/sani-dental-group/gallery/
Redirect 301 /destinations/cancun/ https://sanimedicalreferrals.com/destinations/cancun/
Redirect 301 /profile/o-dent/location/ https://sanimedicalreferrals.com/profile/o-dent/location/
Redirect 301 /profile/clinica-de-hernias/location/ https://sanimedicalreferrals.com/profile/clinica-de-hernias/location/
Redirect 301 /profile/dentalia-paseo-chapultepec/gallery/ https://sanimedicalreferrals.com/profile/dentalia-paseo-chapultepec/gallery/
Redirect 301 /blog/fast-lane-the-easiest-way-to-go-back-home/ https://sanimedicalreferrals.com/blog/fast-lane-the-easiest-way-to-go-back-home/
Redirect 301 /medical-procedures/optical/ https://sanimedicalreferrals.com/medical-procedures/optical/
Redirect 301 /terms-and-conditions/ https://sanimedicalreferrals.com/terms-and-conditions/
Redirect 301 /get-free-quote/ https://sanimedicalreferrals.com/get-free-quote/
Redirect 301 /profile/progencell-stem-cell-therapies/doctors/ https://sanimedicalreferrals.com/profile/progencell-stem-cell-therapies/doctors/
Redirect 301 /profile/medina-medical-specialties/reviews/ https://sanimedicalreferrals.com/profile/medina-medical-specialties/reviews/
Redirect 301 /sanico/rss https://sanimedicalreferrals.com/sanico/rss
Redirect 301 /profile/clinica-de-hernias/gallery/ https://sanimedicalreferrals.com/profile/clinica-de-hernias/gallery/
Redirect 301 /profile/dental-spana/gallery/ https://sanimedicalreferrals.com/profile/dental-spana/gallery/
Redirect 301 /profile/hospital-hispano-americano/location/ https://sanimedicalreferrals.com/profile/hospital-hispano-americano/location/
Redirect 301 /profile/sani-dental-platinum/prices/ https://sanimedicalreferrals.com/profile/sani-dental-platinum/prices/
Redirect 301 /profile/dental-spana/reviews/ https://sanimedicalreferrals.com/profile/dental-spana/reviews/
Redirect 301 /profile/sani-dental-platinum/contact-clinic/ https://sanimedicalreferrals.com/profile/sani-dental-platinum/contact-clinic/
Redirect 301 /profile/medina-medical-specialties/contact-clinic/ https://sanimedicalreferrals.com/profile/medina-medical-specialties/contact-clinic/
Redirect 301 /profile/hospital-de-la-familia/ https://sanimedicalreferrals.com/profile/hospital-de-la-familia/
Redirect 301 /profile/hospital-hispano-americano/gallery/ https://sanimedicalreferrals.com/profile/hospital-hispano-americano/gallery/
Redirect 301 /profile/monica-soto-aguilera/doctors/ https://sanimedicalreferrals.com/profile/monica-soto-aguilera/doctors/
Redirect 301 /profile/clinica-de-hernias/doctors/ https://sanimedicalreferrals.com/profile/clinica-de-hernias/doctors/
Redirect 301 /blog/?page=1 https://sanimedicalreferrals.com/blog/?page=1
Redirect 301 /blog/?page=2 https://sanimedicalreferrals.com/blog/?page=2
Redirect 301 /blog/?page=3 https://sanimedicalreferrals.com/blog/?page=3
Redirect 301 /blog/?page=4 https://sanimedicalreferrals.com/blog/?page=4
Redirect 301 /profile/clinica-dental-tijuana/ https://sanimedicalreferrals.com/profile/clinica-dental-tijuana/
Redirect 301 /profile/hospital-hispano-americano/write-review/ https://sanimedicalreferrals.com/profile/hospital-hispano-americano/write-review/
Redirect 301 /profile/sani-dental-group/location/ https://sanimedicalreferrals.com/profile/sani-dental-group/location/
Redirect 301 /profile/ramlanz-dental/ https://sanimedicalreferrals.com/profile/ramlanz-dental/
Redirect 301 /profile/dentalia-paseo-chapultepec/contact-clinic/ https://sanimedicalreferrals.com/profile/dentalia-paseo-chapultepec/contact-clinic/
Redirect 301 /profile/dr-juan-pablo-guerra-felix/ https://sanimedicalreferrals.com/profile/dr-juan-pablo-guerra-felix/
Redirect 301 /profile/o-dent/contact-clinic/ https://sanimedicalreferrals.com/profile/o-dent/contact-clinic/
Redirect 301 /profile/monica-soto-aguilera/prices/ https://sanimedicalreferrals.com/profile/monica-soto-aguilera/prices/
Redirect 301 /profile/dentalia-paseo-chapultepec/doctors/ https://sanimedicalreferrals.com/profile/dentalia-paseo-chapultepec/doctors/

















