RewriteEngine On

## REDIRECT FOLDER DIST ##
RewriteCond %{REQUEST_URI} !dist/
RewriteRule (.*) /dist/$1 [L]

## EXPIRES CACHING ##
ExpiresByType image/jpg "access 1 year"
ExpiresByType image/jpeg "access 1 year"
ExpiresByType image/gif "access 1 year"
ExpiresByType image/png "access 1 year"
ExpiresByType text/css "access 1 month"
ExpiresByType text/html "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType text/x-javascript "access 1 month"
ExpiresByType application/x-shockwave-flash "access 1 month"
ExpiresByType image/x-icon "access 1 year"
ExpiresDefault "access 1 month"

## HARDCORE ##
Redirect 301 /about-us/ http://sanimedicaltourism.com/about-us.html
Redirect 301 /contact-us/ http://sanimedicaltourism.com/contact.html

Redirect 301 /medical-procedures/bariatric-surgery/ http://sanimedicalreferrals.com/medical-procedures/bariatric-surgery/
Redirect 301 /medical-procedures/dental/ http://sanimedicalreferrals.com/medical-procedures/dental/
Redirect 301 /blog/ http://sanimedicalreferrals.com/blog/
Redirect 301 /medical-procedures/plastic-surgery/ http://sanimedicalreferrals.com/medical-procedures/plastic-surgery/
Redirect 301 /blog/things-to-do-in-baja-california/ http://sanimedicalreferrals.com/blog/things-to-do-in-baja-california/
Redirect 301 /privacy-policy/ http://sanimedicalreferrals.com/privacy-policy/
Redirect 301 /profile/i-love-my-dentist/ http://sanimedicalreferrals.com/profile/i-love-my-dentist/
Redirect 301 /profile/o-dent/ http://sanimedicalreferrals.com/profile/o-dent/
Redirect 301 /profile/medina-medical-specialties/ http://sanimedicalreferrals.com/profile/medina-medical-specialties/
Redirect 301 /blog/visiting-mexicali/ http://sanimedicalreferrals.com/blog/visiting-mexicali/
Redirect 301 /profile/monica-soto-aguilera/ http://sanimedicalreferrals.com/profile/monica-soto-aguilera/
Redirect 301 /profile/progencell-stem-cell-therapies/ http://sanimedicalreferrals.com/profile/progencell-stem-cell-therapies/
Redirect 301 /profile/dentalia-cancun/ http://sanimedicalreferrals.com/profile/dentalia-cancun/
Redirect 301 /profile/o-dent/doctors/ http://sanimedicalreferrals.com/profile/o-dent/doctors/
Redirect 301 /medical-procedures/ http://sanimedicalreferrals.com/medical-procedures/
Redirect 301 /profile/monica-soto-aguilera/gallery/ http://sanimedicalreferrals.com/profile/monica-soto-aguilera/gallery/
Redirect 301 /profile/dentalia-cancun/doctors/ http://sanimedicalreferrals.com/profile/dentalia-cancun/doctors/
Redirect 301 /profile/monica-soto-aguilera/reviews/ http://sanimedicalreferrals.com/profile/monica-soto-aguilera/reviews/
Redirect 301 /profile/monica-soto-aguilera/location/ http://sanimedicalreferrals.com/profile/monica-soto-aguilera/location/
Redirect 301 /destinations/tijuana/ http://sanimedicalreferrals.com/destinations/tijuana/
Redirect 301 /profile/dental-spana/ http://sanimedicalreferrals.com/profile/dental-spana/
Redirect 301 /profile/monica-soto-aguilera/reviews-list/ http://sanimedicalreferrals.com/profile/monica-soto-aguilera/reviews-list/
Redirect 301 /blog/tips-for-medical-tourism-patients-and-the-people-who-accompany-them/ http://sanimedicalreferrals.com/blog/tips-for-medical-tourism-patients-and-the-people-who-accompany-them/
Redirect 301 /profile/i-love-my-dentist/reviews/ http://sanimedicalreferrals.com/profile/i-love-my-dentist/reviews/
Redirect 301 /profile/o-dent/reviews/ http://sanimedicalreferrals.com/profile/o-dent/reviews/
Redirect 301 /profile/i-love-my-dentist/gallery/ http://sanimedicalreferrals.com/profile/i-love-my-dentist/gallery/
Redirect 301 /blog/how-to-prepare-for-medical-tourism http://sanimedicalreferrals.com/blog/how-to-prepare-for-medical-tourism
Redirect 301 /profile/dental-spana/prices/ http://sanimedicalreferrals.com/profile/dental-spana/prices/
Redirect 301 /profile/o-dent/reviews-list/ http://sanimedicalreferrals.com/profile/o-dent/reviews-list/
Redirect 301 /destinations/ http://sanimedicalreferrals.com/destinations/
Redirect 301 /blog/how-to-prepare-for-medical-tourism/ http://sanimedicalreferrals.com/blog/how-to-prepare-for-medical-tourism/
Redirect 301 /destinations/los-algodones/ http://sanimedicalreferrals.com/destinations/los-algodones/
Redirect 301 /profile/dentalia-paseo-chapultepec/ http://sanimedicalreferrals.com/profile/dentalia-paseo-chapultepec/
Redirect 301 /profile/o-dent/gallery/ http://sanimedicalreferrals.com/profile/o-dent/gallery/
Redirect 301 /profile/medina-medical-specialties/location/ http://sanimedicalreferrals.com/profile/medina-medical-specialties/location/
Redirect 301 /podcast/visit-baja/ http://sanimedicalreferrals.com/podcast/visit-baja/
Redirect 301 /faqs/ http://sanimedicalreferrals.com/faqs/
Redirect 301 /profile/dentalia-paseo-chapultepec/prices/ http://sanimedicalreferrals.com/profile/dentalia-paseo-chapultepec/prices/
Redirect 301 /profile/dentalia-cancun/contact-clinic/ http://sanimedicalreferrals.com/profile/dentalia-cancun/contact-clinic/
Redirect 301 /destinations/mexicali http://sanimedicalreferrals.com/destinations/mexicali
Redirect 301 /profile/progencell-stem-cell-therapies/reviews/ http://sanimedicalreferrals.com/profile/progencell-stem-cell-therapies/reviews/
Redirect 301 /profile/o-dent/write-review/ http://sanimedicalreferrals.com/profile/o-dent/write-review/
Redirect 301 /profile/dental-spana/doctors/ http://sanimedicalreferrals.com/profile/dental-spana/doctors/
Redirect 301 /profile/sani-dental-platinum/ http://sanimedicalreferrals.com/profile/sani-dental-platinum/
Redirect 301 /profile/sani-dental-platinum/location/ http://sanimedicalreferrals.com/profile/sani-dental-platinum/location/
Redirect 301 /profile/medina-medical-specialties/prices/ http://sanimedicalreferrals.com/profile/medina-medical-specialties/prices/
Redirect 301 /destinations/tijuana http://sanimedicalreferrals.com/destinations/tijuana
Redirect 301 /destinations/cancun http://sanimedicalreferrals.com/destinations/cancun
Redirect 301 /profile/medina-medical-specialties/doctors/ http://sanimedicalreferrals.com/profile/medina-medical-specialties/doctors/
Redirect 301 /profile/i-love-my-dentist/contact-clinic/ http://sanimedicalreferrals.com/profile/i-love-my-dentist/contact-clinic/
Redirect 301 /profile/i-love-my-dentist/reviews-list/ http://sanimedicalreferrals.com/profile/i-love-my-dentist/reviews-list/
Redirect 301 /profile/progencell-stem-cell-therapies/location/ http://sanimedicalreferrals.com/profile/progencell-stem-cell-therapies/location/
Redirect 301 /profile/hospital-hispano-americano/ http://sanimedicalreferrals.com/profile/hospital-hispano-americano/
Redirect 301 /profile/dentalia-cancun/gallery/ http://sanimedicalreferrals.com/profile/dentalia-cancun/gallery/
Redirect 301 /profile/i-love-my-dentist/write-review/ http://sanimedicalreferrals.com/profile/i-love-my-dentist/write-review/
Redirect 301 /profile/progencell-stem-cell-therapies/prices/ http://sanimedicalreferrals.com/profile/progencell-stem-cell-therapies/prices/
Redirect 301 /profile/hospital-hispano-americano/contact-clinic/ http://sanimedicalreferrals.com/profile/hospital-hispano-americano/contact-clinic/
Redirect 301 /profile/hospital-hispano-americano/reviews/ http://sanimedicalreferrals.com/profile/hospital-hispano-americano/reviews/
Redirect 301 /profile/hospital-hispano-americano/prices/ http://sanimedicalreferrals.com/profile/hospital-hispano-americano/prices/
Redirect 301 /profile/hospital-hispano-americano/single-review/19/ http://sanimedicalreferrals.com/profile/hospital-hispano-americano/single-review/19/
Redirect 301 /profile/dental-spana/location/ http://sanimedicalreferrals.com/profile/dental-spana/location/
Redirect 301 /profile/progencell-stem-cell-therapies/contact-clinic/ http://sanimedicalreferrals.com/profile/progencell-stem-cell-therapies/contact-clinic/
Redirect 301 /profile/monica-soto-aguilera/write-review/ http://sanimedicalreferrals.com/profile/monica-soto-aguilera/write-review/
Redirect 301 /profile/progencell-stem-cell-therapies/write-review/ http://sanimedicalreferrals.com/profile/progencell-stem-cell-therapies/write-review/
Redirect 301 /profile/clinica-de-hernias/ http://sanimedicalreferrals.com/profile/clinica-de-hernias/
Redirect 301 /profile/dentalia-cancun/location/ http://sanimedicalreferrals.com/profile/dentalia-cancun/location/
Redirect 301 /profile/clinica-de-hernias/contact-clinic/ http://sanimedicalreferrals.com/profile/clinica-de-hernias/contact-clinic/
Redirect 301 /profile/dentalia-cancun/prices/ http://sanimedicalreferrals.com/profile/dentalia-cancun/prices/
Redirect 301 /blog/where-to-stay-in-mexico-medical-tourism-hotels/ http://sanimedicalreferrals.com/blog/where-to-stay-in-mexico-medical-tourism-hotels/
Redirect 301 /destinations/mexicali/ http://sanimedicalreferrals.com/destinations/mexicali/
Redirect 301 /profile/dentalia-paseo-chapultepec/location/ http://sanimedicalreferrals.com/profile/dentalia-paseo-chapultepec/location/
Redirect 301 /profile/dentalia-paseo-chapultepec/reviews/ http://sanimedicalreferrals.com/profile/dentalia-paseo-chapultepec/reviews/
Redirect 301 /profile/o-dent/prices/ http://sanimedicalreferrals.com/profile/o-dent/prices/
Redirect 301 /profile/clinica-de-hernias/prices/ http://sanimedicalreferrals.com/profile/clinica-de-hernias/prices/
Redirect 301 /medical-procedures/orthopedic-surgery/ http://sanimedicalreferrals.com/medical-procedures/orthopedic-surgery/
Redirect 301 /profile/sani-dental-platinum/reviews/ http://sanimedicalreferrals.com/profile/sani-dental-platinum/reviews/
Redirect 301 /profile/dentalia-paseo-chapultepec/write-review/ http://sanimedicalreferrals.com/profile/dentalia-paseo-chapultepec/write-review/
Redirect 301 /profile/dentalia-paseo-chapultepec/reviews-list/ http://sanimedicalreferrals.com/profile/dentalia-paseo-chapultepec/reviews-list/
Redirect 301 /blog/the-secrets-out-los-algodones-top-destination-for-dental-tourism/ http://sanimedicalreferrals.com/blog/the-secrets-out-los-algodones-top-destination-for-dental-tourism/
Redirect 301 /profile/sani-dental-platinum/write-review/ http://sanimedicalreferrals.com/profile/sani-dental-platinum/write-review/
Redirect 301 /profile/sani-dental-platinum/reviews-list/ http://sanimedicalreferrals.com/profile/sani-dental-platinum/reviews-list/
Redirect 301 /profile/dentalia-cancun/reviews/ http://sanimedicalreferrals.com/profile/dentalia-cancun/reviews/
Redirect 301 /profile/hospital-hispano-americano/reviews-list/ http://sanimedicalreferrals.com/profile/hospital-hispano-americano/reviews-list/
Redirect 301 /results/?manual_selector=1&search=medical-and-cosmetic-surgery http://sanimedicalreferrals.com/results/?manual_selector=1&search=medical-and-cosmetic-surgery
Redirect 301 /blog/why-would-anyone-travel-for-a-medical-procedure/ http://sanimedicalreferrals.com/blog/why-would-anyone-travel-for-a-medical-procedure/
Redirect 301 /results/?manual_selector=1&search=hospital http://sanimedicalreferrals.com/results/?manual_selector=1&search=hospital
Redirect 301 /profile/dentalia-cancun/reviews-list/ http://sanimedicalreferrals.com/profile/dentalia-cancun/reviews-list/
Redirect 301 /profile/dentalia-cancun/write-review/ http://sanimedicalreferrals.com/profile/dentalia-cancun/write-review/
Redirect 301 /results/?manual_selector=1&search=dental http://sanimedicalreferrals.com/results/?manual_selector=1&search=dental
Redirect 301 /profile/progencell-stem-cell-therapies/gallery/ http://sanimedicalreferrals.com/profile/progencell-stem-cell-therapies/gallery/
Redirect 301 /profile/monica-soto-aguilera/contact-clinic/ http://sanimedicalreferrals.com/profile/monica-soto-aguilera/contact-clinic/
Redirect 301 /destinations/los-algodones http://sanimedicalreferrals.com/destinations/los-algodones
Redirect 301 /profile/medina-medical-specialties/gallery/ http://sanimedicalreferrals.com/profile/medina-medical-specialties/gallery/
Redirect 301 /profile/clinica-de-hernias/reviews/ http://sanimedicalreferrals.com/profile/clinica-de-hernias/reviews/
Redirect 301 /profile/sani-dental-platinum/doctors/ http://sanimedicalreferrals.com/profile/sani-dental-platinum/doctors/
Redirect 301 /profile/clinica-de-hernias/write-review/ http://sanimedicalreferrals.com/profile/clinica-de-hernias/write-review/
Redirect 301 /profile/clinica-de-hernias/reviews-list/ http://sanimedicalreferrals.com/profile/clinica-de-hernias/reviews-list/
Redirect 301 /profile/sani-dental-platinum/single-review/11/ http://sanimedicalreferrals.com/profile/sani-dental-platinum/single-review/11/
Redirect 301 /profile/hospital-hispano-americano/doctors/ http://sanimedicalreferrals.com/profile/hospital-hispano-americano/doctors/
Redirect 301 /profile/progencell-stem-cell-therapies/reviews-list/ http://sanimedicalreferrals.com/profile/progencell-stem-cell-therapies/reviews-list/
Redirect 301 /profile/progencell-stem-cell-therapies/single-review/20/ http://sanimedicalreferrals.com/profile/progencell-stem-cell-therapies/single-review/20/
Redirect 301 /profile/i-love-my-dentist/location/ http://sanimedicalreferrals.com/profile/i-love-my-dentist/location/
Redirect 301 /profile/sani-dental-group/ http://sanimedicalreferrals.com/profile/sani-dental-group/
Redirect 301 /profile/i-love-my-dentist/doctors/ http://sanimedicalreferrals.com/profile/i-love-my-dentist/doctors/
Redirect 301 /profile/i-love-my-dentist/prices/ http://sanimedicalreferrals.com/profile/i-love-my-dentist/prices/
Redirect 301 /profile/dental-spana/contact-clinic/ http://sanimedicalreferrals.com/profile/dental-spana/contact-clinic/
Redirect 301 /profile/sani-dental-platinum/gallery/ http://sanimedicalreferrals.com/profile/sani-dental-platinum/gallery/
Redirect 301 /profile/docs-diabetes-obesity-control-surgery/ http://sanimedicalreferrals.com/profile/docs-diabetes-obesity-control-surgery/
Redirect 301 /profile/sani-dental-group/reviews/ http://sanimedicalreferrals.com/profile/sani-dental-group/reviews/
Redirect 301 /profile/sani-dental-group/prices/ http://sanimedicalreferrals.com/profile/sani-dental-group/prices/
Redirect 301 /profile/sani-dental-group/contact-clinic/ http://sanimedicalreferrals.com/profile/sani-dental-group/contact-clinic/
Redirect 301 /profile/sani-dental-group/doctors/ http://sanimedicalreferrals.com/profile/sani-dental-group/doctors/
Redirect 301 /profile/sani-dental-group/gallery/ http://sanimedicalreferrals.com/profile/sani-dental-group/gallery/
Redirect 301 /destinations/cancun/ http://sanimedicalreferrals.com/destinations/cancun/
Redirect 301 /profile/o-dent/location/ http://sanimedicalreferrals.com/profile/o-dent/location/
Redirect 301 /profile/clinica-de-hernias/location/ http://sanimedicalreferrals.com/profile/clinica-de-hernias/location/
Redirect 301 /profile/dentalia-paseo-chapultepec/gallery/ http://sanimedicalreferrals.com/profile/dentalia-paseo-chapultepec/gallery/
Redirect 301 /blog/fast-lane-the-easiest-way-to-go-back-home/ http://sanimedicalreferrals.com/blog/fast-lane-the-easiest-way-to-go-back-home/
Redirect 301 /medical-procedures/optical/ http://sanimedicalreferrals.com/medical-procedures/optical/
Redirect 301 /terms-and-conditions/ http://sanimedicalreferrals.com/terms-and-conditions/
Redirect 301 /get-free-quote/ http://sanimedicalreferrals.com/get-free-quote/
Redirect 301 /profile/progencell-stem-cell-therapies/doctors/ http://sanimedicalreferrals.com/profile/progencell-stem-cell-therapies/doctors/
Redirect 301 /profile/medina-medical-specialties/reviews/ http://sanimedicalreferrals.com/profile/medina-medical-specialties/reviews/
Redirect 301 /sanico/rss http://sanimedicalreferrals.com/sanico/rss
Redirect 301 /profile/clinica-de-hernias/gallery/ http://sanimedicalreferrals.com/profile/clinica-de-hernias/gallery/
Redirect 301 /profile/dental-spana/gallery/ http://sanimedicalreferrals.com/profile/dental-spana/gallery/
Redirect 301 /profile/hospital-hispano-americano/location/ http://sanimedicalreferrals.com/profile/hospital-hispano-americano/location/
Redirect 301 /profile/sani-dental-platinum/prices/ http://sanimedicalreferrals.com/profile/sani-dental-platinum/prices/
Redirect 301 /profile/dental-spana/reviews/ http://sanimedicalreferrals.com/profile/dental-spana/reviews/
Redirect 301 /profile/sani-dental-platinum/contact-clinic/ http://sanimedicalreferrals.com/profile/sani-dental-platinum/contact-clinic/
Redirect 301 /profile/medina-medical-specialties/contact-clinic/ http://sanimedicalreferrals.com/profile/medina-medical-specialties/contact-clinic/
Redirect 301 /profile/hospital-de-la-familia/ http://sanimedicalreferrals.com/profile/hospital-de-la-familia/
Redirect 301 /profile/hospital-hispano-americano/gallery/ http://sanimedicalreferrals.com/profile/hospital-hispano-americano/gallery/
Redirect 301 /profile/monica-soto-aguilera/doctors/ http://sanimedicalreferrals.com/profile/monica-soto-aguilera/doctors/
Redirect 301 /profile/clinica-de-hernias/doctors/ http://sanimedicalreferrals.com/profile/clinica-de-hernias/doctors/
Redirect 301 /blog/?page=1 http://sanimedicalreferrals.com/blog/?page=1
Redirect 301 /blog/?page=2 http://sanimedicalreferrals.com/blog/?page=2
Redirect 301 /blog/?page=3 http://sanimedicalreferrals.com/blog/?page=3
Redirect 301 /blog/?page=4 http://sanimedicalreferrals.com/blog/?page=4
Redirect 301 /profile/clinica-dental-tijuana/ http://sanimedicalreferrals.com/profile/clinica-dental-tijuana/
Redirect 301 /profile/hospital-hispano-americano/write-review/ http://sanimedicalreferrals.com/profile/hospital-hispano-americano/write-review/
Redirect 301 /profile/sani-dental-group/location/ http://sanimedicalreferrals.com/profile/sani-dental-group/location/
Redirect 301 /profile/ramlanz-dental/ http://sanimedicalreferrals.com/profile/ramlanz-dental/
Redirect 301 /profile/dentalia-paseo-chapultepec/contact-clinic/ http://sanimedicalreferrals.com/profile/dentalia-paseo-chapultepec/contact-clinic/
Redirect 301 /profile/dr-juan-pablo-guerra-felix/ http://sanimedicalreferrals.com/profile/dr-juan-pablo-guerra-felix/
Redirect 301 /profile/o-dent/contact-clinic/ http://sanimedicalreferrals.com/profile/o-dent/contact-clinic/
Redirect 301 /profile/monica-soto-aguilera/prices/ http://sanimedicalreferrals.com/profile/monica-soto-aguilera/prices/
Redirect 301 /profile/dentalia-paseo-chapultepec/doctors/ http://sanimedicalreferrals.com/profile/dentalia-paseo-chapultepec/doctors/

















