---
title:
description:
layout: default
---

<div id="{{page}}" role="main">
	<section class="cover row expanded align-center align-middle text-center">
		<div class="col sm-12 md-6">
			<h1>Sani Medical Tourism</h1>
			<h2>Everything medical tourists are looking for is now at their disposal</h2>
		</div>
	</section><!-- .cover -->
</div>
<section class="row align-center">
	<div class="col sm-12 md-8 ">
		<p>Sani Medical Tourism was born to help local and international patients find high-quality, accessible medical treatments. Everything you need from dental services to stem cell therapy, more than 20 business united are at your disposal.</p> 
		<p>Our mission is to give people an experience they deserve by giving them access to information, health care clinics, restaurants, lodging, transportation, and more. We achieve this through the commitment and dedication to patients in need of a better quality of life. </p>
		<p>Sani Medical Tourism is aiming to be the worldwide leader in patient experience by providing all the necessary tools to travel without any problems or concerns.</p>
		<div class="rescue text-center">
			<a class="btn btn-purple" modal-open="myModal">I WANT TO BE PART</a>
		</div>
	</div>
</section><!-- .resume -->