---
title: Contact Us | Sani Medical Tourism
description: Sani Medical Tourism is the fastest growing medical tourism network in Mexico. Contact us and let's begin the conversation.
layout: default
---
<div id="{{page}}" role="main">
	<section class="cover row expanded align-center align-middle text-center">
		<div class="col sm-12 md-6">
			<h1>Find out how you can get here</h1>
			<h2>Let’s begin the conversation</h2>
		</div>
	</section><!-- .cover -->
	<section class="row align-center">
		<div class="col sm-12 md-8">
			<h5>To get more information about how you can join the Sani Medical Tourism Network, fill the form below and we’ll get in touch with you immediatly</h5>
		</div>
	</section>
	<section class="contact-form">
		<form action="/contact_form.php" method="post" novalidate>
			<div class="row align-center">
				<div class="col sm-12 md-8">
					<div class="row">
						<div class="col sm-12 md-6 form-group">
							<input name="yourName" type="text" placeholder="Your name" required>
						</div>
						<div class="col sm-12 md-6 form-group">
							<input name="yourLocation" type="text" placeholder="Location" required>
						</div>
						<div class="col sm-12 md-6 form-group">
							<input name="yourNumber" type="text" placeholder="Phone number" required>
						</div>
						<div class="col sm-12 form-group">
							<textarea name="yourMessage" id="" cols="30" rows="6" placeholder="Your message..." required></textarea>
						</div>
						<div class="col sm-12">
							<button type="submit" class="btn btn-white-outline">SUBMIT</button>
						</div>
						<input type="hidden" name="elAddress">
						<input type="hidden" name="elOrigin" value="Contact from GioStar">
						<input type="hidden" id="utm_contact" name="utm_contact" value="">
					</div>
				</div>
			</div>
		</form>
	</section>
</div>