---
title: 
description: 
layout: default
---

<div id="{{page}}" role="main">
	<section class="row expanded align-center align-middle text-center">
		<img src="{{root}}assets/img/cover-landing.jpg" alt="">
	</section><!-- .cover -->
	<section class="row">
		<div class="col sm-12 md-8">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus perferendis, nisi blanditiis odio, velit sit nam officia voluptatibus exercitationem libero totam ea nihil repudiandae dignissimos atque quo eaque laborum quae.</p>
		</div>
		<div class="col sm-12 md-4">
			<form action="">
				<div class="form-group">
					<label>Name</label>
					<input type="text" name="yourName" required>
				</div>
				<div class="form-group">
					<label>Email</label>
					<input type="text" name="yourEmail" required>
				</div>
				<div class="form-group">
					<label>Contact number</label>
					<input type="text" name="yourNumber">
				</div>
				<div class="form-group">
					<label>Desirer date</label>
					<input type="text" name="yourDate" id="datepicker" required>
				</div>
				<div class="form-group">
					<label>Message</label>
					<textarea name="yourMessage" cols="30" required></textarea>
				</div>
				<button type="Submit" class="btn btn-purple">Confirm</button>
			</form>
		</div>
	</section>
</div>