---
title:
description:
layout: default
---
<div id="{{page}}" role="main">
	<section class="cover cover-2 row expanded align-center align-middle text-center">
		<div class="col sm-12 md-6">
			<h1>Medical Tourism Facilitator</h1>
			<h2>Your Chances of Growing are Bigger than you Think</h2>
			<ul>
				<li>Increase your conversion rate</li>
				<li>Be more competitive offering the highest-quality services</li>
				<li>Earn business experience expanding your offer</li>
			</ul>
		</div>
	</section><!-- .cover -->
	<section class="row align-center">
		<div class="col sm-12 md-8 ">
			<p>Being a promotor for Sani Medical Tourism means that you’ll be the connection between the patient and a healthier way of life. Our business model is about relationships, not only with our patients, also with our hospitals, hotels, restaurants, shuttle services, and more.</p>
			<p>Offering a complete high-quality medical experience is now possible.</p>
		</div>
	</section>
	<section class="contact-form">
		<form action="post" id="contactForm">
			<div class="row">
				<div class="col sm-12 md-8">
					<div class="row">
						<div class="col sm-12 md-6 form-group">
							<input name="yourName" type="text" placeholder="Your name" required>
						</div>
						<div class="col sm-12 md-6 form-group">
							<input name="yourNumber" type="text" placeholder="Phone number" required>
						</div>
						<div class="col sm-12 md-6 form-group">
							<input name="yourCompany" type="text" placeholder="Company" required>
						</div>
						<div class="col sm-12 md-6 form-group">
							<input name="yourWebsite" type="text" placeholder="Website" required>
						</div>
						<div class="col sm-12 md-6 form-group">
							<input name="yourEmailAddress" type="text" placeholder="EmailAddress" required>
						</div>
						<div class="col sm-12 md-6 form-group">
							<select name="yourWork" required>
								<option value="" default>How many clinics/hospital/doctors do you work with?</option>
								<option value="1-15">1-15</option>
								<option value="16-50">16-50</option>
								<option value="101-150">101-150</option>
								<option value="200+">200+</option>
							</select>
						</div>
						<div class="col sm-12 md-6 form-group">
							<select name="yourRole" required>
								<option value="" default>Which is your role?</option>
								<option value="Bussines developer">Bussines developer</option>
								<option value="Doctor">Doctor</option>
								<option value="Administrative">Administrative</option>
								<option value="Marketing Manager">Marketing Manager</option>
								<option value="Other">Other</option>
							</select>
						</div>
						<div class="col sm-12 md-6 form-group">
							<select name="yourWorked" required>
								<option value="" default>Have you worked in Mexico before?</option>
								<option value="Yes">Yes</option>
								<option value="No">No</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col sm-12 md-4">
					<div class="form-group">
						<textarea name="yourMessage" rows="7" placeholder="Your message..." required></textarea>
					</div>
					<div class="text-left">
						<button type="submit" class="btn btn-white-outline">SUBMIT</button>
					</div>
				</div>
			</div>
		</form>
	</section>
</div>