---
title:
description:
layout: default
---
<div id="{{page}}" role="main">
	<section class="cover cover-2 row expanded align-center align-middle text-center">
		<div class="col sm-12 md-6">
			<h1>I’m Looking for Medical Treatments</h1>
			<h2>Recovering your health has never been like this</h2>
			<ul class="no-bullet">
				<li>• Dentistry</li>
				<li>• Stem Cell Therapy</li>
				<li>• Hyperbaric Therapy</li>
				<li>• Optical Services</li>
				<li>• Surgery Center</li>
				<li>• Hotels</li>
				<li>• Restaurants</li>
				<li>• Shopping</li>
				<li>• Shuttle Services</li>
			</ul>
		</div>
	</section><!-- .cover -->
	<section class="row align-center">
		<div class="col sm-12 md-8 ">
			<p>Medical Tourism now has a new name. You won’t have to worry about hotel reservations or how to arrive to Mexico, the only thing you have to do is make some space in your agenda, and we will take care of the rest. Sani Medical Tourism has a complete experience prepared for you.</p>
		</div>
	</section>
	<section class="contact-form">
		<form action="medical_treatments_form.php" method="post">
			<div class="row">
				<div class="col sm-12 md-8">
					<div class="row">
						<div class="col sm-12 md-6 form-group">
							<input name="yourName" type="text" placeholder="Your name" required>
						</div>
						<div class="col sm-12 md-6 form-group">
							<input name="yourNumber" type="text" placeholder="Phone number" required>
						</div>
						<div class="col sm-12 md-6 form-group">
							<input name="yourEmail" type="text" placeholder="EmailAddress" required>
						</div>
						<div class="col sm-12 md-6 form-group">
							<input name="yourCity" type="text" placeholder="City" required>
						</div>
						<div class="col sm-12 md-6 form-group">
							<select name="yourTreatment" required>
								<option value="" default>What treatment are you looking for?</option>
								<option value="Cosmetic">Cosmetic</option>
								<option value="Dental">Dental</option>
								<option value="Stem Cell">Stem Cell</option>
								<option value="Vision">Vision</option>
								<option value="Other">Other</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col sm-12 md-4">
					<div class="form-group">
						<textarea name="yourMessage" rows="7" placeholder="Your message..." required></textarea>
					</div>
					<div class="text-left">
						<button type="submit" class="btn btn-white-outline">SUBMIT</button>
					</div>
					<input type="hidden" name="elAddress">
					<input type="hidden" name="elOrigin" value="Contact from GioStar">
				</div>
			</div>
		</form>
	</section>
</div>