---
title:
description:
layout: default
---
<div id="{{page}}" role="main">
	<section class="cover cover-2 row expanded align-center align-middle text-center">
		<div class="col sm-12 md-6">
			<h1>I’m Looking for Business Opportunity</h1>
			<h2>Join the fastest growing medical tourism network</h2>
			<ul>
				<li>Worldwide recognition</li>
				<li>Business expansion</li>
				<li>Experience</li>
				<li>Constant growth</li>
			</ul>
		</div>
	</section><!-- .cover -->
	<section class="row align-center">
		<div class="col sm-12 md-8 ">
			<p>By becoming part of Sani Medical Tourism, you have access to one of the faster growing medical tourism companies in the world. One of our main purposes is to give patients the best medical care and experience there is, and since we’re a corporation that is constantly expanding, every one willing to grow next to us is welcomed to work by our side.</p>
		</div>
	</section>
	<section class="contact-form">
	<div class="row">
		<div class="col sm-12 md-8">
			<h3>Let’s begin the conversation</h3>
			<p>Join the fastest-growing medical tourism corporate in Mexico</p>
		</div>
	</div>
		<form action="post" id="contactForm">
			<div class="row">
				<div class="col sm-12 md-8">
					<div class="row">
						<div class="col sm-12 md-6 form-group">
							<input name="yourName" type="text" placeholder="Your name" required>
						</div>
						<div class="col sm-12 md-6 form-group">
							<input name="yourNumber" type="text" placeholder="Phone number" required>
						</div>
						<div class="col sm-12 md-6 form-group">
							<input name="yourEmailAddress" type="text" placeholder="EmailAddress" required>
						</div>
						<div class="col sm-12 md-6 form-group">
							<select name="yourWork" required>
								<option value="" default>What medical services do you offer?</option>
								<option value="Cosmetic">Cosmetic</option>
								<option value="Dental">Dental</option>
								<option value="Fertility">Fertility</option>
								<option value="Surgery">Surgery</option>
								<option value="Other">Other</option>
							</select>
						</div>
						<div class="col sm-12 md-6 form-group">
							<select name="yourRole" required>
								<option value="" default>Which is your role?</option>
								<option value="Bussines developer">Bussines developer</option>
								<option value="Doctor">Doctor</option>
								<option value="Administrative">Administrative</option>
								<option value="Marketing Manager">Marketing Manager</option>
								<option value="Other">Other</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col sm-12 md-4">
					<div class="form-group">
						<textarea name="yourMessage" rows="7" placeholder="Your message..." required></textarea>
					</div>
					<div class="text-left">
						<button type="submit" class="btn btn-white-outline">SUBMIT</button>
					</div>
				</div>
			</div>
		</form>
	</section>
</div>