---
title: Largest Medical Tourism Network in Mexico | Sani Medical Tourism
description: Sani Medical Tourism provides medical tourism services in Mexico, including stem cell, hyperbaric and optical treatments, hotels, restaurants, stores and more.
layout: default
---
<div id="homepage" role="main">
	<section class="cover row expanded align-center align-middle text-center">
		<div class="col sm-12 md-6">
			<h1>The Path Starts Here</h1>
			<h2>Everything medical tourists are looking for is now at their disposal</h2>
			<div class="show-for-medium hide-for-small">
				<a class="btn btn-purple" modal-open="myModal">I WANT TO BE PART</a>
			</div>
		</div>
	</section><!-- .cover -->
	<section class="services row">
		<div class="col sm-12 md-6">
			<div class="row align-center">
				<div class="col sm-4 md-2">
					<img src="{{root}}assets/img/medical-ico.svg" alt="">
				</div>
				<div class="col sm-12 md-10">
					<h3>A Wide Variety of<br> Medical Services</h3>
					<p>Dental Clinics • Stem Cell Therapy • Hyperbaric Therapy • SPA • Surgery Center • Optical Services</p>
				</div>
			</div>
		</div>
		<div class="col sm-12 md-6">
			<div class="row align-center">
				<div class="col sm-4 md-2">
					<img src="{{root}}assets/img/ping-ico.svg" alt="">
				</div>
				<div class="col sm-12 md-10">
					<h3>With all of the necessary<br> to make a great experience</h3>
					<p>Hotels • Restaurants • Minimart • Pharmacy • Clothing • Jewelry • Shuttle Service</p>
				</div>
			</div>
		</div>
	</section><!-- .services -->
	<section class="resume row align-center">
		<div class="col sm-12 md-8 ">
			<p>Since 1985, Sani Dental Group stablished in Los Algodones, Mexico and years later it became the largest dental clinic in town offering high-quality treatments and services, such as restaurants, lodging, shuttle, and more. Now, with decades of experience, Sani Medical Tourism has born with the same vision of providing a complete and unique medical experience for those in need of recover their health.</p>
		</div>
	</section><!-- .resume -->
</div><!-- #homepage -->