---
title:
description:
layout: default
---

<div id="homepage" role="main">
	<section class="cover row expanded align-center align-middle text-center">
		<div class="col sm-12 md-6">
			<h1>The Path Starts Here</h1>
			<h2>Everything medical tourists are looking for is now at their disposal</h2>
			<div class="show-for-medium hide-for-small">
				<a class="btn btn-primary" modal-open="myModal">I WANT TO BE PART</a>
			</div>
		</div>
	</section><!-- .cover -->
	<section class="services row">
		<div class="col sm-12 md-6">
			<div class="row align-center">
				<div class="col sm-4 md-2">
					<img src="{{root}}assets/img/medical-ico.svg" alt="">
				</div>
				<div class="col sm-12 md-10">
					<h3>A Wide Variety of<br> Medical Services</h3>
					<p>Dental Clinics • Stem Cell Therapy • Hyperbaric Therapy • SPA • Surgery Center • Optical Services</p>
				</div>
			</div>
		</div>
		<div class="col sm-12 md-6">
			<div class="row align-center">
				<div class="col sm-4 md-2">
					<img src="{{root}}assets/img/ping-ico.svg" alt="">
				</div>
				<div class="col sm-12 md-10">
					<h3>With all of the necesary<br> to make a great experience</h3>
					<p>Hotels • Restaurants • Minimart • Pharmacy • Clothing • Jewelry • Shuttle Service</p>
				</div>
			</div>
		</div>
	</section><!-- .services -->
	<section class="resume row align-center">
		<div class="col sm-12 md-8 ">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis assumenda nobis aliquid dicta voluptatibus, quos molestias accusantium tempore enim aut saepe repellat ad porro, cumque veritatis, quia id excepturi repellendus!</p>
		</div>
	</section><!-- .resume -->
</div><!-- #homepage -->