---
title:
description:
layout: default
---
<div id="{{page}}" role="main">
	<section class="cover row expanded align-center align-middle text-center">
		<div class="col sm-12 md-6">
			<h1>Our Medical Offer</h1>
			<h2>Everything medical tourists are looking for is now at their disposal</h2>
		</div>
	</section><!-- .cover -->
	<section class="row align-center">
		<div class="col sm-12 md-8 ">
			<p>Sani Medical Tourism has prepared a unique travel experience that will give you what you need to improve your lifestyle:</p> 
			<ul class="offer-list">
				<li>Dental Clinics</li>
				<li>Stem Cell Therapy</li>
				<li>Hyperbaric Therapy</li>
				<li>Optical Services</li>
				<li>Surgery Center</li>
				<li>Hotels</li>
				<li>Restaurants</li>
				<li>Shuttle</li>
			</ul>
			<div class="rescue show-for-medium hide-for-small text-center">
				<a class="btn btn-purple" modal-open="myModal">I WANT TO BE PART</a>
			</div>
		</div>
	</section>
</div>