//
// Modal
// --------------------------------------------------

.modal {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: $modal-zindex;
	background-color: $modal-overlay;
	overflow-y: scroll;
}

.modal-container {
	position: relative;
	width: auto;
	height: 100%;
	height: 100vh;
	margin: auto;
	padding: $modal-padding;
	border: $modal-border;
	background-color: $modal-bg;
	overflow-y: auto;
	z-index: $modal-zindex + 1;
}

.modal-header{
	margin: remCalc(-16);
	margin-bottom: remCalc(32);
	padding: remCalc(16); 
	background-color: map-get($brand-color, blue);
	text-align: center;
	img{
		max-width: 80px;
		display: block;
		margin: 0 auto remCalc(16); 
	}
	p{
		color: $white;
		font-size: remCalc(24);
	}
}

.modal-content{
	max-width: remCalc(320);
	margin: 0 auto; 
	text-align: center; 
	.btn{
		display: block;
		margin-bottom: remCalc(16);
	}
}

.btn-close {
	position: absolute;
	color: $white;
	right: remCalc(12);
	top: remCalc(16);
	font-size: remCalc(32);
	line-height: 1;
	cursor: pointer;
	background: transparent;
	padding: 0;
	border: 0;
	z-index: $modal-zindex + 2; 
	-webkit-appearance: none;
	-moz-appearance: none;
}

.btn-close:hover,
.btn-close:focus{
	color: darken($white, 20%);
}

@media #{$breakpoint-medium} {
	.modal-container{
		width: 50%;
		height: auto;
		margin-top: remCalc(100);
	}
}

@media #{$breakpoint-large} {
	// .modal-container{
	// 	width: 50%;
	// }
}