//
// Type
// --------------------------------------------------

p {
  margin-bottom: $paragraph-margin-bottom;
  font-size: inherit;
  text-rendering: optimizeLegibility;
}

a {
  color: $link-color;
  text-decoration: $link-text-decoration;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-text-decoration-hover;
  }

  &:focus{
    outline: 0 none;
  }

  img{
    border: none;
  }
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

h1, h2, h3, h4, h5, h6{
  font-family: $header-font-family;
	margin-top: 0;
	margin-bottom: $header-margin-bottom;
	font-weight: $header-font-weight;
  line-height: $header-font-height; 
}

code,
kbd,
pre,
samp {
  font-family: $code-font-family;
}

// Blocks of code
pre {
  margin: 0 0 1rem;
  code{
    display: block;
    overflow-x: auto;
  }
}

code {
  color: $code-color;
  padding: $code-padding;
  background-color: $code-background;
  border: $code-border;
}

@each $align in (left, right, center, justify) {
  .text-#{$align}{
    text-align: $align;
  }
}