//
// Variables
// --------------------------------------------------

@import 'functions';

// 1. Global
// ---------

$body-font-size:     		100% !default;
$base-line-height:   		1.5 !default;
$base-font-weight:   		normal !default;
$gray-dark:         		#8a8a8a !default;
$gray-medium:           #cacaca !default;
$gray-light:        		#e6e6e6 !default;
$black:              		#0a0a0a !default;
$white:             		#fefefe !default;
$brand-color:(
	primary: #428bca,
	success: #5cb85c,
	alert:   #f1391c,
	info:    #5bc0de,
	blue:    #147ea3,
	purple:  #742774,
) !default;
$hr-border:             $gray-light !default;
$hr-margin:             remCalc(20) auto !default;
$body-bg:               $white !default;
$text-color:            #5d5d5d !default;
$global-radius:         0 !default;

// 2. Typography
// -------------------------
$base-font-size:                remCalc(16) !default;
$font-sans-serif:               'Trebuchet MS', Helvetica, Arial, sans-serif !default;
$font-serif:                    'Dosis', Helvetica, Arial, sans-serif !default;
$font-monospace:                Consolas, "Liberation Mono", Courier, monospace !default;
$paragraph-margin-bottom:       remCalc(12) !default;
$link-color:                    map-get($brand-color, primary);
$link-hover-color:              scale-color($link-color, $lightness: -14%) !default;
$link-text-decoration:          none !default;
$link-text-decoration-hover:    none !default;
$header-font-family:            $font-sans-serif !default;
$header-font-weight:            bold !default;
$header-font-height:            1.2 !default;
$header-margin-bottom:          remCalc(8) !default;
$font-size-h1:                  remCalc(40) !default;
$font-size-h2:                  remCalc(32) !default;
$font-size-h3:                  remCalc(28) !default;
$font-size-h4:                  remCalc(24) !default;
$font-size-h5:                  remCalc(20) !default;
$font-size-h6:                  remCalc(16) !default;
$code-font-family:              $font-monospace !default;
$code-color:                    $black !default;
$code-padding:                  remCalc(2) remCalc(5) !default;
$code-background:               scale-color($gray-light, $lightness: 45%) !default;
$code-border:                   1px solid $gray-medium !default;

// 3. Tables
// -------------------------

$table-cell-padding:                 remCalc(8) !default;
$table-bg:                           transparent !default;
$table-head-bg:                      $gray-light !default;
$table-bg-hover:                     $gray-light !default;
$table-border:                       1px solid $gray-light !default;

// 4. Breadcrumbs
// -------------------------
$breadcrumb-padding:          remCalc(8) remCalc(15) !default;
$breadcrumb-margin:           0 0 remCalc(20) 0 !default;
$breadcrumb-color:            #ccc !default;
$breadcrumb-active-color:     $gray-dark !default;
$breadcrumb-separator:        "/" !default;

// 5. Grid
// ------------------------

$grid-columns: 12;
$grid-gutter: (1.875em/2);
$row-max-width: 71.25em;
$breakpoint-medium: "screen and (min-width: 40em)";
$breakpoint-large: "screen and (min-width: 64em)";

// 6. Forms
// ------------------------

$form-group-margin-bottom:    remCalc(15) !default;
$form-label-margin-bottom:    remCalc(10) !default;
$input-bg:                    $white !default;
$input-color:                 $black !default;
$input-border:                1px solid #ccc !default;
$input-border-focus:          $gray-dark !default;
$input-color-placeholder:     $gray-dark !default;
$input-padding:               remCalc(8) remCalc(12) !default;
$input-height-base:           remCalc(42) !default;
$input-radius:                $global-radius !default;
$input-transition:            border-color 300ms ease-in-out !default;

// 7. Navbar
// -------------------------

$nav-brand-color:              $black !default;
$nav-brand-padding:            remCalc(13) remCalc(15) !default;
$nav-link-padding:             remCalc(13) remCalc(15) !default;
$nav-link-color:               map-get($brand-color, blue) !default;
$nav-link-color-hover:         rgba($nav-link-color, .65) !default;
$nav-link-color-active:        map-get($brand-color, purple) !default;

// 8. Buttons
// -------------------------

$btn-font-weight:                normal !default;
$btn-padding:                    remCalc(16) remCalc(32) !default;

$btn-primary-color:              $white !default;
$btn-primary-bg:                 map-get($brand-color, primary) !default;

$btn-success-color:              $white !default;
$btn-success-bg:                 map-get($brand-color, success) !default;

$btn-alert-color:                $white !default;
$btn-alert-bg:                   map-get($brand-color, alert) !default;

$btn-info-color:                 $white !default;
$btn-info-bg:                    map-get($brand-color, info) !default;

$btn-primary-outline-bg:         map-get($brand-color, primary) !default;

// 9. Flex Video
// -------------------------

$flexvideo-margin-bottom: rem-calc(16) !default;
$flexvideo-padding-bottom: 67.5% !default;
$flexvideo-widescreen-padding-bottom: 56.25% !default;

// 9. Modal
// -------------------------

$modal-bg: $white !default;
$modal-border: 1px solid $gray-medium !default;
$modal-padding: remCalc(16) !default;
$modal-overlay: rgba($black, 0.45) !default;
$modal-zindex: 100;


