<footer {{#unlesspage 'contact' 'career-opportunity' 'medical-treatments' 'medical-tourism-facilitator' 'bussines-opportunity'}}class="fix"{{/unlesspage}}>
  {{#unlesspage 'contact' 'career-opportunity' 'medical-treatments' 'medical-tourism-facilitator' 'bussines-opportunity'}}
  <div class="band text-center show-for-small hide-for-medium">
    <a class="btn btn-white-outline" modal-open="myModal">I WANT TO BE PART</a>
  </div>
  {{/unlesspage}}
  <div class="footer-nav">
    <ul class="row align-center">
      <li {{#ifpage 'about-us'}}class="active"{{/ifpage}}><a href="{{root}}about-us.html">About us</a></li>
      <li {{#ifpage 'medical-offer'}}class="active"{{/ifpage}}><a href="{{root}}medical-offer.html">Our Medical Offer</a></li>
      <li {{#ifpage 'contact'}}class="active"{{/ifpage}}><a href="{{root}}contact.html">Contact</a></li>
      <li {{#ifpage 'career-opportunities'}}class="active"{{/ifpage}}><a href="{{root}}career-opportunities.html">Career Opportunities</a></li>
    </ul>
  </div>
  <div class="copyright text-center">
    <p>Sani Medical Tourism &copy; 2016</p>
  </div>
</footer>