<header class="navbar">
  <div class="navbar-header">
    <a href="/" class="nav-brand">
      <img src="{{root}}assets/img/logo.svg" alt="">
    </a>
  </div>

  <nav class="navbar-nav">
    <ul>
      <li {{#ifpage 'about-us'}}class="active"{{/ifpage}}><a href="{{root}}about-us.html">About us</a></li>
      <li {{#ifpage 'medical-offer'}}class="active"{{/ifpage}}><a href="{{root}}medical-offer.html">Our Medical Offer</a></li>
      <li {{#ifpage 'contact'}}class="active"{{/ifpage}}><a href="{{root}}contact.html">Contact</a></li>
    </ul>
  </nav>
</header><!-- header -->