<div class="modal" modal="myModal">
  <div class="modal-container">
    <div class="modal-header">
  		<img src="{{root}}assets/img/isotype.png" alt="">
  		<p>I WANT TO BE PART</p>
    </div>
    <div class="modal-content">
    	<a href="im-looking-for-medical-treatments.html" class="btn btn-blue-outline">I'm Looking for Medical Treatments</a>
    	<a href="im-a-medical-tourism-facilitator.html" class="btn btn-blue-outline">I'm a Medical Tourism Facilitator</a>
    	<a href="im-looking-for-bussines-opportunity.html" class="btn btn-blue-outline">I'm looking for Bussiness Opportunity</a>
    </div>
    <button class="btn-close" modal-close="myModal">&times;</button>
  </div>
</div><!-- .modal -->