<!-- Facebook -->
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Sani Medical Tourism" />
<meta property="og:title" content="{{#if title}}{{title}}{{else}}Largest Medical Tourism Network in Mexico | Sani Medical Tourism{{/if}}" />
<meta property="og:description" content="{{#if description}}{{description}}{{else}}Sani Medical Tourism provides medical tourism services in Mexico, including stem cell, hyperbaric and optical treatments, hotels, restaurants, stores and more.{{/if}}" />
<meta property="og:url" content="https://sanimedicaltourism.com/{{#unlesspage 'index'}}{{ page }}.html{{/unlesspage}}"/>
<meta property="og:image" content="{{root}}assets/img/logo-square.png"/>
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="200">
<meta property="og:image:height" content="200">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="https://sanimedicaltourism.com/{{#unlesspage 'index'}}{{ page }}.html{{/unlesspage}}">
<meta name="twitter:title" content="{{#if title}}{{title}}{{else}}Largest Medical Tourism Network in Mexico | Sani Medical Tourism{{/if}}">
<meta name="twitter:description" content="{{#if description}}{{description}}{{else}}Sani Medical Tourism provides medical tourism services in Mexico, including stem cell, hyperbaric and optical treatments, hotels, restaurants, stores and more.{{/if}}">
<meta name="twitter:image" content="{{root}}assets/img/logo-square.png">