//
// Contact
// --------------------------------------------------

.contact-form{
	background-color: darken(map-get($brand-color, blue), 20%);
	padding-top: remCalc(48);
	padding-bottom: remCalc(48);
	color: $white;
	margin-bottom: remCalc(22);
	p{
		margin-bottom: remCalc(32);
	}
}