//
// Homepage
// --------------------------------------------------

.services{
	img{
		margin-bottom: remCalc(20);
	}
	text-align: center;
	h3{
		color: map-get($brand-color, purple);
		font-size: remCalc(18);
	}
	p{
		color: map-get($brand-color, blue);
		font-family: $font-serif;
		text-transform: uppercase; 
	}
	>.col{
		&:first-child{
			margin-bottom: remCalc(30);
		}
	}
}

@media #{$breakpoint-medium} {
	
	.services{
		text-align: left;
		>.col{
			&:first-child{
				margin-bottom: 0;
			}
		}
	}

}