//
// Medical Offer
// --------------------------------------------------

#medical-offer{
	.title{
		margin-bottom: remCalc(28);
		margin-top: remCalc(28);
		display: inline-block;
		width: 100%;
		text-align: center; 
	}
}