<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{#if title}}{{title}}{{else}}Huleos - Responsive Framework - Powered by Sass{{/if}}</title>
    <meta
      name="description" content="{{#if description}}{{description}}{{else}}Huleos is a small “mobile first” CSS framework, with useful default styles, and a responsive grid system.{{/if}}">
    <link href="{{root}}assets/img/favicon.png" type="image/png" rel="icon">
    <link href="{{root}}assets/css/huleos.css" rel="stylesheet">
  </head>
  <body>
    {{> body}}
    <script src="{{root}}assets/js/main.js"></script>
  </body>
</html>